<!-- <h1>Routing App</h1> -->
<!-- <a class="navbar-brand" routerLink="" routerLinkActive="active">Home</a>
<a class="navbar-brand" routerLink="product" routerLinkActive="active"
  >Product</a
>
<a class="navbar-brand" routerLink="contact" routerLinkActive="active"
  >Contact</a
> -->

<div class="container">
  <div class="buttons">
    <a class="btn btn-primary blue-btn" routerLink="" routerLinkActive="active"
      >Home</a
    >
    <a
      class="btn btn-primary green-btn"
      routerLink="product"
      routerLinkActive="active"
      >Product</a
    >
    <a
      class="btn btn-primary black-btn"
      routerLink="contact"
      routerLinkActive="active"
      >Contact</a
    >
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
