<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="content"><p>Show Products</p>
        <br>
        <div>
           <table class="table">
            <thead>
                <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Catagory</th>
                <th scope="col">Launch</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products">
                <th scope="row">{{product.id}}</th>
                <td>{{product.name}}</td>
                <td>{{product.catagory}}</td>
                <td>{{product.isLaunch}}</td>
            </tr>
        </tbody>
           </table>
        
        </div>
        </div>
</body>
</html>


