<h2>Revise all the concepts in angular</h2>
<h3>@Input @Output EventEmitter</h3>

<app-post-create (postCreated)="onPostAdded($event)"></app-post-create>
<div class="dropdown-divider"></div>

<app-post-list [posts]="storedPosts"></app-post-list>
<!-- Create a split screen UI with one half capturing the data on fields and the other half displaying the data as we type them in -->

<!-- <div class="row no-gutters">
  <div class="col-md-6 no-gutters">
    <div class="leftside d-flex justify-content-center align-items-center">
      click left side
    </div>
  </div>
  <div class="col-md-6 no-gutters">
    <div class="rightside d-flex justify-content-center align-items-center">
      click right side
    </div>
  </div>
</div>-->
<router-outlet></router-outlet>
