<h1>Using Signal - Angular16 features</h1>
<div>
  <p>
    Signals in Angular represent a piece of reactive state. They can hold a
    value and notify when the value changes. This allows components to
    automatically react to state changes without manually subscribing and
    unsubscribing from observables
  </p>
  <p>
    In Angular, "signals" are a feature introduced to manage reactive state more
    effectively. They provide a way to manage and respond to state changes in a
    more intuitive and declarative manner compared to traditional methods like
    RxJS observables or services. Signals help in creating a clear and reactive
    flow of data within components and across the application
  </p>
</div>
<hr />
<app-counter></app-counter>
