<!-- <div>
  <h1>Welcome {{ data.title }}</h1>
</div>
<input class="demo" [value]="data.title"
(keyup)="onKeyUp(titleInput.value)" #titleInput>
<br>
<br>

<input type="button" (click)="onClick()" value="click"> -->

<div class="top-menu">
  <img class="logo"
     src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
</div>

<!-- <div *ngFor="let pair of courses | keyvalue">
  {{ pair.key + ': ' + pair.value }}
</div> -->
<!-- <div class="demo">
    <div>Start Date: {{ startDate | date: 'MMM dd yyyy' }}</div>
     <div>Title: {{ data.title | titlecase }}</div>
     <div>Price: {{ price | currency: 'GBP' }}</div>
    <div>rate: {{ rate | percent }}</div>

</div> -->
<div class="courses">

<course-card *ngFor="let course of courses; index as i;"

(courseSelected) ="onCourseSelected($event)"
 [course]="course" [cardIndex]="i + 1"></course-card>
</div>

<!--
  first as isFirst; last as isLast; even as isEven; odd as isOdd"
[class.is-first] = "isFirst"
[class.is-last] = "isLast"
[class.is-even] = "isEven"
[class.is-odd] = "isOdd"
-->


<router-outlet></router-outlet>
