<!--<div>
 <h2>{{ title | titlecase}}</h2>
  <h3>{{ name | slice:3:7}}</h3>
  <h3>{{person | json}}</h3>

  <h3>{{5.768 | number:'1.2-3'}}</h3>
  <h3>{{5.768 | number:'3.4-5'}}</h3>
  <h3>{{5.768 | number:'3.1-2'}}</h3>

  <h3>{{0.25 | percent }}</h3>

  <h3>{{0.25 | currency }}</h3>
  <h3>{{0.25 | currency:'GBP' }}</h3>

  <h3>{{date | date: 'short'}}</h3>
  <h3>{{date | date: 'shortDate'}}</h3>
  <h3>{{date | date: 'short'}}</h3>
  <h3>{{customVal | uxVal:10}}</h3>
  <h3>
    <ul>
      <li *ngFor="let name of nameArr">
        {{name |uxVal:5}}
      </li>
    </ul>

  </h3>

</div>-->
<!-- <app-demo></app-demo> -->
<app-sortdata></app-sortdata>
<router-outlet></router-outlet>
